.wrapper {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-rows: 74px auto 40px;
  grid-template-columns: 32px auto 32px;
  grid-template-areas:
    '. . .'
    '. c .'
    '. . .';
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 88px auto 88px;
  }
}

