.wrapper {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-rows: 74px auto 40px;
  grid-template-columns: 78px auto 78px;
  grid-template-areas:
    '. . .'
    '. c .'
    '. . .';
}

@media (min-width: 768px) {
  .wrapper {
    height: 100%;
  }
}

.container {
  grid-area: c;
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
}

.description > p {
  font-family: var(--secondary-font-stack);
  color: var(--black);
  padding: 2rem 0;
  line-height: 1.5rem;
  text-align: justify;
}

.description__link {
  color: var(--black);
  text-decoration: none;
  transition: all 0.3s ease;
}

.description__link:hover {
  color: #6088ae;
}

.photo__wrapper {
  position: relative;
  width: 100%;
}

.photo {
  display: block;
  width: 100%;
  user-select: none;
}

.photo__cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.divider {
  width: 25%;
  height: 3px;
  justify-self: center;
  align-self: center;
  background: var(--mid-grey);
  margin: 1.8rem 0;
  animation: loadDivider 1s ease-out;
}

@keyframes loadDivider {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 25%;
  }
}

.other__title {
  font-family: var(--main-font-stack);
  text-transform: uppercase;
  font-weight: 400;
  color: var(--black);
  text-align: center;
  letter-spacing: 4px;
  font-size: 18px;
  margin-bottom: 1.3rem;
  user-select: none;
  pointer-events: none;
}

.contact__wrapper {
  margin: 2rem auto 3rem;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 960px;
    height: 100%;
    max-height: 768px;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: center;
    gap: 30px;
    grid-template-rows: 1fr 3px 1fr;
    grid-template-columns: 6.3fr 4.7fr;
    grid-template-areas:
      'd p'
      's p'
      'o p';
  }
  .description {
    grid-area: d;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .description > p {
    background: #f0f0f0;
    padding: 2.2rem;
  }
  .photo__wrapper {
    grid-area: p;
    width: 88%;
    min-width: 260px;
    justify-self: end;
    -ms-flex-item-align: center;
    align-self: center;
    overflow: hidden;
  }
  .photo {
    width: 150%;
    -webkit-transform: translateX(-15.7%);
    transform: translateX(-15.7%);
  }
  .divider {
    grid-area: s;
  }
  .other {
    grid-area: o;
    -ms-flex-item-align: center;
    align-self: center;
  }
}

.other__list {
  list-style-type: none;
}

.other__list > a {
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 1.6rem;
}

.other__item > span {
  font-family: var(--main-font-stack);
  position: relative;
  background: transparent;
  color: var(--black);
  z-index: 0;
  padding: 2px 12px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  user-select: none;
}

.other__item > span:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d7e5ee;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.other__item:hover > span:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
