.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  user-select: none;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: transparent;
  transition: all 0.6s ease-out;
}

.cover:hover {
  cursor: pointer;
  background: var(--white);
}

@media (min-width: 640px) {
  .wrapper {
    padding-top: 100%;
    background-color: #ffffff;
  }
  .image {
    position: absolute;
    width: 90%;
    top: 20%;
    left: 5%;
  }
}
