.wrapper {
  height: 54px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background: var(--light-grey);
  z-index: 40;
  transition: all 0.3s ease;
}

.logo {
  text-transform: uppercase;
  display: block;
  margin: auto 0 auto auto;
  font-family: var(--main-font-stack);
  padding: 6px 12px;
  text-decoration: none;
  color: var(--black);
  letter-spacing: 4px;
  font-size: 18px;
  user-select: none;
}

@media (max-width: 374px) {
  .logo {
    font-size: 16px;
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    position: absolute;
    background: transparent;
  }
}
