.wrapper {
  display: block;
  text-align: center;
  height: 4rem;
  width: 4;
  transition: all 0.3s ease;
}

.wrapper:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.envelope {
  height: 100%;
  width: 100%;
  background: url('./../../../data//images/icons/envelope.svg');
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
}
