.wrapper {
  grid-area: c;
  justify-self: center;
  width: 100%;
  max-width: 768px;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  padding-bottom: 8rem;
  display: block;
}