.wrapper {
  grid-area: m;
  position: relative;
  align-self: center;
  width: 100%;
  list-style-type: none;
}

.divider {
  width: 25%;
  height: 3px;
  margin: 2rem auto;
  background: var(--mid-grey);
}

@media (min-width: 768px) {
  .wrapper {
    min-width: 260px;
  }
}
